#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

html{
  background-color: #f4f4f4;
}
.App {
  text-align: center;
 }

